<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-dark" routerLinkActive="active" [routerLink]="['New']">New</button>
            <button type="button" class="btn btn-dark" routerLinkActive="active" [routerLink]="['Edit']">Edit</button>
            <button type="button" class="btn btn-dark" routerLinkActive="active" [routerLink]="['Detail']">Detail</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>