<div class="container main-container">
    <h1>Canal de Youtube</h1>
    <hr>

    <div class="card-columns" *ngIf="videos.length > 0">
        <div class="card" *ngFor="let video of videos">
            <img [src]="video.thumbnails.high.url" class="card-img-top" [alt]="video.title">
            <div class="card-body">
                <h5 class="card-title">{{video.title}}</h5>
                <button (click)="verVideo(video)" class="btn btn-outline-primary btn-block">Ver Video</button>
            </div>
        </div>
    </div>

    <button (click)="cargarMas()" class="btn btn-outline-primary btn-block">Cargar más...</button>

</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" *ngIf="videoSel">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{videoSel.title}}</h5>

            </div>
            <div class="modal-body">
                <iframe width="100%" height="300" [src]="videoSel.resourceId.videoId | videoYoutube" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" (click)="cerrarModal()">Cerrar</button>
            </div>
        </div>
    </div>
</div>