<h4>Formularios <small>template</small></h4>
<hr>
<form novalidate (ngSubmit)="guardar(forma)" #forma="ngForm">

  <div>

    <div class="form-group row"
      [ngClass]="{'has-danger': (nombre.errors?.required || nombre.errors?.minlength) && nombre.touched}">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input [(ngModel)]="usuario.nombre" name="nombre" required minlength="4" class="form-control" type="text"
          placeholder="Nombre" #nombre="ngModel">

        <div class="form-control-feedback" *ngIf="nombre.errors?.required && nombre.touched">El campo Nombre es
          obligatorio.</div>
        <div class="text-danger" *ngIf="nombre.errors?.minlength">El Nombre debe tener mínimo
          {{nombre.errors.minlength.requiredLength}} caracteres.</div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input [(ngModel)]="usuario.apellido" #apellido="ngModel" name="apellido" class="form-control" type="text"
          placeholder="Apellido" required>
        <div class="text-danger" *ngIf="apellido.errors?.required && apellido.touched">El campo Apellido es
          obligatorio.</div>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-md-8">

      <input [(ngModel)]="usuario.correo" #correo="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
        name="correo" required class="form-control" type="email" placeholder="Correo electrónico">
      <div class="text-danger" *ngIf="correo.errors?.required && correo.touched">El campo Correo es
        obligatorio.</div>
      <div class="text-danger" *ngIf="correo.errors?.pattern">El Correo ingresado es incorrecto.</div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Pais</label>
    <div class="col-md-8">

      <select [(ngModel)]="usuario.pais" name="pais" class="form-control">
        <option value="">Selecciona un pais</option>
        <option *ngFor="let pais of paises" [value]="pais.codigo">{{pais.nombre}}</option>
      </select>

    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Sexo</label>
    <div class="col-md-8">

      <label *ngFor="let s of sexos" class="custom-control custom-radio">
        <input [(ngModel)]="usuario.sexo" [value]="s" name="sexo" type="radio" class="custom-control-input">
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{s}}</span>
      </label>

    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label"></label>
    <div class="col-md-8">
      <label class="custom-control custom-checkbox">
        <input [(ngModel)]="usuario.acepta" name="acepta" type="checkbox" class="custom-control-input" required>
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">Acepta los terminos y condiciones.</span>
      </label>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button [disabled]="!forma.valid" type="submit" class="btn btn-outline-primary">
        Guardar
      </button>
    </div>
  </div>

</form>

<pre>
  {{usuario | json}}
</pre>
