<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Películas App</h1>
    <p class="lead">Pelis testing xD</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">

      <app-shared [Movies]="PeliculasEstreno | slice:0:6" titulo="Películas en Cartelera"></app-shared>

      <app-shared [Movies]="PeliculasPopulares | slice:0:6" titulo="Películas Populares"></app-shared>

      <app-shared [Movies]="PeliculasPopularesNinos | slice:0:6" titulo="Películas Populares para Niños"></app-shared>

    </div>
  </div>
</div>
